.our-clients {
  position: relative;
  background-color: white;
  padding-top: 95px;
  @media (max-width: $media-threshold-mobile) {
    display: none;
  }
}

.our-clients__header {
  font: $yesevaOne_20_28;
  text-align: center;
  color: #181818;
  margin-top: 0;
  margin-bottom: 13px;
}

.our-clients__theme-icon {
  background: url("../assets/img/our-clients__theme-icon.svg") center center no-repeat;
  height: 30px;
}

.our-clients__text {
  font: $futuraBookC_20_27;
  text-align: center;
  color: #363636;
  margin: 17px auto 46px;
}


.clients {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.clients__client {
  position: relative;
  width: 376px;
  padding: 24px 32px 90px 20px;
  margin: 0 27px 52px;
  box-shadow: 0 10px 50px rgba(black, 0.04);
  box-sizing: border-box;
}

.clients__client-photo {
  float: left;
  width: 76px;
  height: 76px;
  margin: 0 23px 17px 0;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.clients__client-name {
  margin: 17px 0 0 0;
  font: $yesevaOne_18_23;
  color: #181818;
}

.clients__client-impression {
  clear: both;

  p {
    font: $futuraBookC_15_180pc;
    color: #959595;
    text-align: left;
    margin-top: 0;
    margin-bottom: 3px;
  }
}

.clients__client-specification {
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 294px;
  height: 54px;
  display: flex;
  background-color: #E3B873;
  box-shadow: 5px 5px 20px rgba(#E3B873, 0.5);
}

.clients__client-specification-area, .clients__client-specification-time {
  background: 17px 10px no-repeat;
  font: $yesevaOne_17_24;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 65px;
}

.clients__client-specification-area {
  background-image: url("../assets/img/client-specification-area.svg");
  width: 135px;
}

.clients__client-specification-time {
  background-image: url("../assets/img/client-specification-time.svg");
  width: 159px;
  border-left: 1px white solid;
}
