$media-threshold-1: 1070px;
$media-threshold-2: 920px;
$media-threshold-mobile: 555px;
$top-left-field: 5.5%;

* {
  text-decoration-skip-ink: none;
}

ul {
  list-style-type: none;
}

.nobr {
  white-space: nowrap;
}
