.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal pre code {
    max-height: none;
}

.columns {
    display: flex;
}

.columns > *:not(:last-child) {
    margin-right: 50px;
}

.column {
    width: 50%;
}

section .sample img {
    border: solid 1px gray;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.align-left {
    text-align: left;
}
